.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.form-container label {
  font-size: 1rem;
}

.form-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-container input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60%;
  font-size: 1rem;
}

.form-container input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-container button {
  padding: 10px;
  background-color: #ea9a05;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.form-container button:hover {
  background-color: #c17f04;
}
