/* ----Start of resetting the whole documents---- */
/* Resetting to box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
}

/* Resetting Typo of the document */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}
/* Resetting media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Resetting form built in Typo */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoiding text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* ---- End of resetting the whole documents---- */
/* Whole body styling */

.main-container {
  margin: auto;
  max-width: 1080px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #f8f8f8;
}

/* Styling Aside starts from here */
aside {
  background-color: #006666;
  color: #ffffff;
}

aside h1 {
  font-size: 1.25rem;
  color: #ff8749;
}

aside h2 {
  color: #ff8749;
}

article {
  margin: 30px;
}
/* Profile picture styling */
.intro-element-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-continer {
  min-width: 200px;
  min-height: 200px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 15px 0px;
  object-fit: cover;
  
}

/* Personal Info section styling */
.personal-item {
  margin: 10px 0;
}
/* Skill section styling */
.skill-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  line-height: 2rem;
}

/* Footer styling */
footer {
  width: 1080px;
  margin: auto;
  max-height: 5vh;
  background-color: #1ab0b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  color: #ffffff;
}

/*  Media query*/
@media only screen and (max-width: 600px) {
  body {
    font-size: 12.5px;
  }
  .profile-name {
    text-align: center;
  }
  .image-continer {
      width: 150px;
      height: 150px;
  }
  .main-container {
    height: 100%;
    grid-template-columns: 1fr;
  }
  footer {
    width: 100%;
  }
}
