.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-item {
  width: 50%;
  padding: 100px 50px;
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.contact-container {
  min-height: 300px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem;
}

.form-item {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-item label,
input,
textarea {
  width: 70%;
}

.form-item label {
  width: 20%;
  text-align: right;
}
.button {
  align-self: center;
  width: 10rem;
}
