* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    float: left;
    background-color: gold;
    width: 30%;
    height: 300px;
    padding 20px
}

article {
    float: left;
    background-color:whitesmokes;
    width:70%;
    padding: 20px;
}

aside {
    clear: both;
}

footer {
    background: #222;
    color: #eee;
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em;
}

/* excercise3 css */
.container {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
}

.column {
    background: goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.button {
    border: none;
    background-color: rgb(59, 47, 47);
    color: white;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: whitesmoke;
    color: #222;
}
